$footer-color: true;
$footer-background-color: #111111;


@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/components/tabs";


a {
  color: white;
}
section{
  figure{
    margin: auto;
  }
  h2{
    line-height: 2;
  }
}

.center-hero {
  @extend .hero;
  background-size: cover;
  background-position: center;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');
.all-fonts{
  font-family: 'M PLUS 1p', sans-serif;
}

.robot-wrap{
  position: relative;
}
.robot{
  position: absolute;
  right: -200px;
  top: -350px;
  height: 700px;
}
.robot{
  animation: robot 60s infinite linear ;
}
@media screen and (min-width: $tablet) {}
@keyframes robot {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
