$footer-color: true;
$footer-background-color: #111111;


@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/components/tabs";


a {
  color: white;
}
section{
  figure{
    margin: auto;
  }
  h2{
    line-height: 2;
  }
}

.center-hero {
  @extend .hero;
  background-size: cover;
  background-position: center;
}

//@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
//
//.logo-font{
//  font-family: 'Tomorrow', sans-serif;
//}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');
.all-fonts{


  font-family: 'M PLUS 1p', sans-serif;


}
